{% block content %}

{% load staticfiles %}

<a href="https://biurco.pl/" class="nonedec" target="_blank">
    <div class="m-4 p-3 add-div">
        <img src="{% static 'img/biurco_logo.png' %}" alt="logo firmy Biurco">
        <h3 class="text-center scale-down">Biuro coworkingowe dla ciebie!</h3>
        <p>Niezwykłe środowisko biurowe w centrum Warszawy - blisko 500m2 urządzonej powierzchni biurowej do wynajęcia dla każdego, kto potrzebuje miejsca do pracy i spotkań w elastycznym, kreatywnym i profesjonalnym środowisku.</p>
        <h3>Wybierz usługi dla siebie!</h3>
    </div>
</a>

{% endblock %}