<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warhammer 10k</title>

    {% load static %}
    {% load load_img %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body data-bs-theme="dark" onload="onload()">
    <!-- <script 
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" 
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" 
        crossorigin="anonymous">
    </script> 
    <script src="{% static 'js/bootstrap.js' %}" ></script> -->
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
        
    {% include 'nav.html' %}

    <!-- Strona -->
    <div class="container-fluid">
    
    <div class="row">
        <!-- Okno boczne -->
        <div class="col-3 d-none d-sm-block">
            <div class="d-none d-lg-block m-4 p-2 light-bg">
                {% include 'timeline.html' %}
            </div>
        </div>
        <!-- Środek -->
        <div class="col-12 col-sm-6 light-bg">
            <div class="row mt-3">
                <div class="ms-auto fit-content">
                    <form name="form" id="lang_form" method="get">
                        <img class ="icon2" src="{% static 'img/lang_icon.png'%}" alt="language symbol">
                        <select class="d-none" name="selector" id="lang_selector" onchange="changeLang()">
                            <option value='pl'>Polski</option>
                            <option value='en'>English</option>
                            <option value='es'>Español</option>
                        </select>
                    </form>
                </div>
            </div>
            <!--  Czym jest Warhammer 10k? -->
            <div class="row mt-3">
                <section>
                    <h3 class="fw-bold luminari" id="about-header">{{about_header}}</h3>
                    <p id="about-p1">{{about_1}} <a href="https://warhammer40k.fandom.com/wiki/Warhammer_40k_Wiki" class="linkstyle" target="_blank">{{link_warhammer40k}}</a> {{about_2}} </p>
                    <p class="d-none d-lg-block" id="about-p2">{{about_3}}</p>
                </section>
            </div>
            <!--  Oś czasu -->
            <div class="row d-block d-lg-none">
                <div class="col">
                    {% include 'timeline.html' %}
                </div>
            </div>
            <!-- Sekcja artykułów -->
            <section>
            <div class="row">
                <h2 class="text-center section-title luminari">{{new_articles}}</h2>
            </div>
            <!-- Kosmiczni marines -->
            <article class="mb-lg-5">
                <div class="row">
                    <h3 class="fw-bold luminari">{{article1.title}}</h3>
                    {% for text in article1.text %}
                        <p>{{text}}</p>
                    {% endfor %}
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-8">
                        {% for section in article1.sections %}
                            <h4>{{section.title}}</h4>
                            
                            {% for text in section.text %}
                                <p>{{text}}</p>
                            {% endfor %}
                        {% endfor %}

                        <a class="more px-3 py-1 m-4 m-xl-0 text-center nonedec" href="">{{read_more}}</a>
                    </div>
                    <div class="col-12 col-lg-8 col-xl-4">
                        <img src="{% static 'img/space_marine_min.jpg' %}" title="Kosmiczny marine" alt="space marine picture art" onclick="openimg(this)">
                        <a href="https://warhammer40k.fandom.com/wiki/Space_Marines" class="linkstyle" target="_blank">{{img_source}}</a>
                    </div>
                </div>
            </article>
            <!-- Reklama -->
            <div class="row d-block d-lg-none">
                {% include 'add.html' %}
            </div>
            <!-- Orkowie -->
            <article class="mb-5">
                <div class="row">
                    <h3 class="fw-bold luminari">{{article2.title}}</h3>
                    {% for text in article2.text %}
                        <p>{{text}}</p>
                    {% endfor %}
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-8">
                        {% for section in article2.sections %}
                            <h4>{{section.title}}</h4>
                            
                            {% for text in section.text %}
                                <p>{{text}}</p>
                            {% endfor %}
                        {% endfor %}

                        <a class="more px-3 py-1 m-4 m-xl-0 text-center nonedec" href="">{{read_more}}</a>
                    </div>
                    <div class="col-12 col-lg-8 col-xl-4">
                        <img src="{% static 'img/ork_min.jpg' %}" title="Ork" alt="ork battlefield picture art" onclick="openimg(this)">
                        <a href="https://pl.pinterest.com/pin/556968678890083476/" class="linkstyle" target="_blank">{{img_source}}</a>
                    </div>
                </div>
            </article>
            </section>

            <!-- Stopka -->
            <div class="row">
                <footer class="ms-auto fit-content">
                    <p>Autor: Piotr Majewski</p>
                </footer>
            </div>
        </div>
        <!-- Okno boczne -->
        <div class="col-3 d-none d-sm-block">
            <div class="d-none d-lg-block">
                {% include 'add.html' %}
            </div>
        </div>
    </div>
    </div> <!-- /Strona -->

    {% include 'imgwindow.html' %}
</body>
</html>