{% block content %}

{% load staticfiles %}

<!-- Nagłówek -->
<header>
    <div class="container my-3">
        <div class="row">
            <div class="col-xxl-4 col-md-3 col-sm-2 d-none d-sm-block">
                <div class="icon"><img class ="icon" src="{% static 'img/sword_icon_left.png' %}" style="float: right;" alt=""></div>
            </div>
            <div class="col-xxl-4 col-md-6 col-sm-8">
                <div class="titlebox">
                    <h1 class="fw-bold luminari">Warhammer 10k</h1>
                </div>
            </div>
            <div class="col-xxl-4 col-md-3 col-sm-2 d-none d-sm-block">
                <div class="icon"><img class ="icon" src="{% static 'img/sword_icon_right.png' %}" alt=""></div>
            </div>
        </div>
    </div>
</header>

<!-- Nawigacja -->
<nav>
    <div class="container-fluid">
        <div class="row text-center py-1">
            <div class="col-6 col-sm-3">
                <div class="dropdown menu-panel py-1">
                    <h3 class="luminari m-0 text-light" data-bs-toggle="dropdown" id="fractions">{{fractions}}</h3>
                    <ul class="dropdown-menu">
                        {% for fraction in fractions_items %}
                        <li><a class="dropdown-item text-center" href="#">{{fraction}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div class="dropdown menu-panel py-1">
                    <h3 class="luminari m-0 text-light" data-bs-toggle="dropdown">{{characters}}</h3>
                    <ul class="dropdown-menu">
                        {% for char in characters_items %}
                        <li><a class="dropdown-item text-center" href="#">{{char}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div class="dropdown menu-panel py-1">
                    <h3 class="luminari m-0 text-light" data-bs-toggle="dropdown">{{vehicles}}</h3>
                    <ul class="dropdown-menu">
                        {% for vehicle in vehicles_items %}
                        <li><a class="dropdown-item text-center" href="#">{{vehicle}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div class="dropdown menu-panel py-1">
                    <h3 class="luminari m-0 text-light" data-bs-toggle="dropdown">{{worlds}}</h3>
                    <ul class="dropdown-menu">
                        {% for world in worlds_items %}
                        <li><a class="dropdown-item text-center" href="#">{{world}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

{% endblock %}